
html{
  scroll-behavior: smooth;
  font-family: 'Pretendard';
}
body{
    background-color: #141414;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    &.hide{
        overflow: hidden;
    }

}

::selection{
    background: #fbd46d;
    color: #141441;
}

* {
  cursor: none;

  }
  .cursor {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99999;
    pointer-events:none;
    background-color: #fff;
    mix-blend-mode:difference;
  }

  li{ 
    will-change: transform;
  }


  @media(max-width: 425px){
    *{
      cursor: pointer;
    }
    .cursor{
      display: none;
    }
  }





