
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-Black.subset.woff2') format('woff2'),
	local('Pretendard Black'), url('/assets/fonts/Pretendard-Black.woff') format('woff'),
	url('/assets/fonts/Pretendard-Black.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'),
	local('Pretendard ExtraBold'), url('/assets/fonts/Pretendard-ExtraBold.woff') format('woff'),
	url('/assets/fonts/Pretendard-ExtraBold.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
	local('Pretendard Bold'), url('/assets/fonts/Pretendard-Bold.woff') format('woff'),
	url('/assets/fonts/Pretendard-Bold.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
	local('Pretendard SemiBold'), url('/assets/fonts/Pretendard-SemiBold.woff') format('woff'),
	url('/assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
	local('Pretendard Medium'), url('/assets/fonts/Pretendard-Medium.woff') format('woff'),
	url('/assets/fonts/Pretendard-Medium.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
	local('Pretendard Regular'), url('/assets/fonts/Pretendard-Regular.woff') format('woff'),
	url('/assets/fonts/Pretendard-Regular.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url('/assets/fonts/Pretendard-Light.subset.woff2') format('woff2'),
	local('Pretendard Light'), url('/assets/fonts/Pretendard-Light.woff') format('woff'),
	url('/assets/fonts/Pretendard-Light.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}
