
footer{
    width: 100%;
    height: auto;
    .sc-contact{
        position: relative;
        width: 100%;
        height: 300px;
        .contact-inner{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 40px;
            .text-area{
                .title{
                display: flex;
                gap: 30px;
                align-items: end;
                line-height: 75px;
                font-size: 75px;
                font-weight: 600; 
                .sns-area{
                    display: flex;
                    gap: 15px;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 40px;
                        border: 3px solid #e3e3e3;
                        border-radius: 999px;
                        font-size: 20px;
                    }
                }
                }
        
                a{
                    display: block;
                    font-size: 65px;
                    font-weight: 500;
                    
                    }
            
            }
            .cc{
                font-size: 14px;
            }
        }
        .footer-bg{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 500px;
            .img{
                background-image: url('./../img/abbg4.png');
                background-repeat: no-repeat;
                background-position: 0px 0px;
                background-size: cover;
                width: 100%;
                height: 100%;
            }
            .overlay{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(0deg, #14141454 40%, #141414 95.95%);
            }
        }
    }
}

@keyframes gradient {
    0% {
    background:(-55deg);
    background-position: 0% 50%;
    }
    50% {
    background:(65deg);
    background-position: 100% 50%;
    }
    100% {
    background:(-55deg);
    background-position: 0% 50%;
    }
    }


@media(max-width: 940px){
    footer{
        .sc-contact{
            .contact-inner{
                .text-area{
                    .title{
                        font-size: 60px;
                    }
                    a{
                        font-size: 55px;
                    }
                }
            }
        }
    }
}

@media(max-width: 680px){
    footer{
        .sc-contact{
            .contact-inner{
                flex-direction: column;
                align-items: center;
                .text-area{
                    align-items: center;
                    .title{
                        align-items: center;
                        font-size: 40px;
                        .sns-area{
                            a{
                                width: 80px;
                                font-size: 16px;
                            }
                        }
                    }
                    a{
                        font-size: 35px;
                        line-height: 37px;
                    }
                }
                .cc{
                    margin-top: 50px;
                }
        }
        }
    }
}

@media(max-width: 425px){
    footer{
        .sc-contact{
            .contact-inner{
                flex-direction: column;
                align-items: center;
                padding: 0;

                .text-area{
                    .title{
                        flex-direction: column;
                        gap: 0px;
                        font-size: 40px;
                        line-height: 50px;
                        .sns-area{
                            a{
                                height: 30px;
                            }
                        }
                    }
                    a{
                        margin-top: 20px;
                        font-size: 24px;
                    }
                }
        }
        }
    }
}